
<div class="sub-top">
    
    <h3>Makaleleri Kaçırmamak için Abone Olun</h3>
    
    <form action="/AdminSub/Subscribe" method="post">
        <div class="alert alert-info" >@TempData["Message"]</div>
        <input type="email" placeholder="E-Mail" id="txtmail" name="SubEmail" required />
        <button type="submit" name="submit" id="btn-sub" ><span>Abone Ol </span> <i class="fa-solid fa-paper-plane"></i> </button>      
    </form>

</div>