namespace MyLiveProject.wwwroot.css

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #F4F5FA;
}

a {
    text-decoration: none;
    color: #3E4B5B;
}

ul,
li {
    list-style: none;
}

.purple-bgc {
    background-color: #9155FD;
}

.green-bgc {
    background-color: #56CA00;
}

.orange-bgc {
    background-color: #FFB400;
}

.blue-bgc {
    background-color: #16B1FF;
}

.red-bgc {
    background-color: #FF4C51;
}
.darkgreen-bgc {
    background-color: #22A699;
}
.msg-renk {
    color: #0079FF;
}

.user-renk {
    color: #00DFA2;
}

.newmsg-renk {
    color: #FF0060;
}


/*----------------------------------------------------------------*/

header {
    width: 19em;
    height: 50rem;
    font-family: 'Poppins', sans-serif;
}

    header .header-top {
        width: 100%;
        height: 15%;
        text-align: center;
        margin: 0;
        color: #3E4B5B;
        display: flex;
        font-family: 'Poppins', sans-serif;
    }

        header .header-top img {
            margin: 2rem 0 0 3rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }

        header .header-top .h-name {
            display: flex;
            flex-direction: column;
            margin: 2rem 0 0 1rem;
            font-size: 1rem;
        }

    header .header-bottom {
        margin-top: 0;
        width: 100%;
        height: 85%;
        justify-content: space-around;
    }

        header .header-bottom ul li {
            margin-top: 2rem;
            width: 100%;
        }

            header .header-bottom ul li:nth-last-child(-n+1) {
                margin-top: 5rem;
            }

            header .header-bottom ul li a {
                padding: 1rem;
                justify-content: flex-end;
                transition: all 300ms ease;
            }

                header .header-bottom ul li a span {
                    margin-left: .5rem;
                }

                header .header-bottom ul li a:hover {
                    margin-left: .5rem;
                    color: purple;
                }


main {
    width: 100%;
}

.main-top {
    width: 100%;
    height: 2rem;
}

/*Main content*/
.a-main-content {
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

    .a-main-content .top {
        background-color: #ffffff;
        height: 25%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: var(--border-radius-1);
        margin: 2rem;
        box-shadow: var(--box-shadow);
    }

        .a-main-content .top h2 {
            margin-left: 5rem;
        }

        .a-main-content .top .a-main-box {
            display: flex;
        }

            .a-main-content .top .a-main-box .a-main-box-left {
            }

                .a-main-content .top .a-main-box .a-main-box-left i {
                    color: #ffffff;
                    font-size: 1.5rem;
                    padding: 1rem;
                    border-radius: var(--border-radius-1);
                    margin: 0;
                    box-shadow: var(--box-shadow);
                }


            .a-main-content .top .a-main-box .a-main-box-right {
                margin-left: .5rem;
            }

        .a-main-content .top .top-box-control {
            display: flex;
            justify-content: space-around;
        }

        .a-main-content .top .a-main-box .a-main-box-right h3 {
            margin: 0;
        }

        .a-main-content .top .a-main-box .a-main-box-right h5 {
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            margin: .3rem 0 0 0;
        }

    .a-main-content .bottom {
        height: 20rem;
        width: 95%;
        margin: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: var(--border-radius-1);
    }

        .a-main-content .bottom .a-bottom-box {
            justify-content: space-around;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 30%;
            height: 14rem;
            background-color: #ffffff;
            border-radius: var(--border-radius-1);
            box-shadow: var(--box-shadow);
        }

            .a-main-content .bottom .a-bottom-box span i {
                margin-top: 2rem;
                font-size: 4rem;
            }
/*Main content son*/
.dm-content {
    margin: 2rem 2rem 2rem 5rem;
}

body .am-content {
    margin: 2rem 2rem 2rem 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
}

    body .am-content table {
        width: 100%;
        border-radius: var(--border-radius-1);
        text-align: center;
    }

.btn-add {
    margin-left: 5rem;
}
/*Admin Makale*/
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}


.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}


/*Admin Makale Son*/
/*Setting*/
.s-content {
    width: 90%;
    margin: 2rem;
    display:flex;
    flex-direction:column;
}
    .sm-content{
        display:flex;
        justify-content:space-between;
    }

    .setting-box {
        width: 30%;
        height: 10rem;
        margin: 2rem 2rem 0 0;
        color: #ffffff;
        border-radius: var(--border-radius-1);
        box-shadow: var(--box-shadow);
    }

    .setting-box .sb-top {
        width: 100%;
        height: 70%;
        margin: 0 0 0 1rem;
        display: flex;
        flex-wrap: wrap;
    }

        .setting-box .sb-top i {
            margin: 2rem 1rem 0 0;
            font-size: 2.5rem;
        }

        .setting-box .sb-top small {
            margin-top: 1rem;
        }

        .setting-box .sb-top h4 {
            margin: 2.5rem 0 0 0;
        }

    .setting-box .sb-bottom {
        width: 100%;
        margin: 1rem;
        height: 25%;
        text-align: center;
    }

        .setting-box .sb-bottom a {
            color: #ffffff;
            transition: all 300ms ease;
            margin: 0 0 2rem 0;
            width: 100%;
            height: 2rem
        }

            .setting-box .sb-bottom a:hover {
                color:#3E4B5B;
                background-color: #ffffff;
                width: 50%;
                cursor:pointer;
            }

/*Setting son*/
