namespace MyLiveProject.wwwroot.css

#b-navbar {
    display: none;    
}

.navbar .navbar-right a {
    font-size: .7rem;
}

.navbar .navbar-left a span {
    margin-top:1rem;
    font-size:.8rem;
}


/* ------ ---------dava content ----------- */
.dava-content {
    width: 100%;
    height: 20rem;
    transition: all 300ms ease;
    scrollbar-color: #F7F7F8;
    text-align: center;
}

    .dava-content .dava-content-top {
        width: 100%;
        height: 2rem;
        text-align: center;
    }

        .dava-content .dava-content-top h2 {
            font-size: 1.5rem;
        }

    .dava-content .dava-content-bottom {
        width: 100%;
        height: 23rem;
        display: flex;
        flex-direction: row;
        overflow:scroll;
    }

        .dava-content .dava-content-bottom .dcbox {
            background-color: #252B48;
            padding: var(--card-padding);
            width: 11rem;
            height: 7rem;
            flex: 0 10% 0;
            color: #fff;
            text-align: center;
            justify-content: center;
            box-shadow: var(--box-shadow);
            transition: all 300ms ease;
            margin: .5rem 0 0 0;
            overflow: hidden;
        }


    .dava-content .dcbox h3 {
        margin-top: 2rem;
        font-size: .8rem;
    }
    .dava-content .dcbox i{ 
        font-size:1.5rem
    }

    #icon-law {
        align-items: center;
        font-size: 1.5rem;
    }
.dava-content .dcbox:hover {
    cursor: pointer;
    box-shadow: none;
    color: black;
    background-color: #ffffff;
    padding: 1.5rem;
}

    .dava-content .dcbox:hover #dava-info {
        display: flex;
        flex-direction: column;
        font-size:0.7rem;
    }

        .dava-content .dcbox:hover #dava-info i {
            display: flex;
            flex-direction: column;
            font-size:0.7rem;
        }

/*full tab*/
.b-navbar-ft {
    display: none;
}
/*full tab son*/
/*Makaleee*/
.makale {
    background-color: var(--color-background);
    margin-top: 6rem;
    height: 28rem;
    text-align: center;
    display: block;
    width: 100%;
}
    .makale .m-baslik{
        width:100%;
        height:3rem;
    }
    .makale .m-content {
        width: 100%;
        height: 25rem;
        display: flex;
        flex-wrap:nowrap;
        overflow: scroll;
        gap:1rem;
    }

    .makale .makale-box {
        background-color: #F5F5F5;
        width: 15rem;
        height: 17rem;
        color: black;
        border: solid 0.5px #F7F7F8;
        border-radius: var(--border-radius-2);
        box-shadow: var(--box-shadow);
        transition: all 300ms ease;
        position: relative;
        overflow: hidden;
    }

    .makale h1 {
        margin-top: .7rem;
    }

    .makale .makale-box .m-bottom h3 {
        font-size: 1rem;
    }

    /* İletişimm*/
.contact .contact-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

    .contact .contact-top .contact-tl {
        width: 35%;
        font-size: 2rem;
    }

    .contact .contact-top .contact-tm {
        display: block;
    }

        .contact .contact-top .contact-tm input {
            border: solid 1px black;
            border-radius: var(--border-radius-2);
            width: 20rem;
            height: 3rem;
            margin-top: 1rem;
            font-family: "poppins",sans-serif;
            text-align: center;
        }

        .contact .contact-top .contact-tm textarea {
            border: solid 1px black;
            border-radius: var(--border-radius-2);
            width: 20rem;
            height: 5rem;
            margin-top: 1rem;
            font-family: "poppins",sans-serif;
            text-align: center;
        }

 
    /* İletişimm sonn*/
